<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yq.parkingandroidapp">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <permission
        android:name="in.wptrafficanalyzer.locationroutedirectionmapv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="in.wptrafficanalyzer.locationroutedirectionmapv2.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Car Park"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity android:name=".MainActivity1stpage"
            android:label=" Car Park YQ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MarkerDemoActivity"
            android:parentActivityName=".MainActivity1stpage"
            android:label=" Map Page ">
        </activity>
        <activity android:name=".SetCarParkConfiguration"
            android:parentActivityName=".MarkerDemoActivity"
            android:label=" Set Car Park Configuration ">
        </activity>
        <activity android:name=".EditCarParkConfiguration"
            android:parentActivityName=".SetCarParkConfiguration"
            android:label=" Edit Car Park 1 Configuration ">
        </activity>
        <activity android:name=".EditCarPark2Configuration"
            android:parentActivityName=".SetCarParkConfiguration"
            android:label=" Edit Car Park 2 Configuration ">
        </activity>
        <activity android:name=".EditCarPark3Configuration"
            android:parentActivityName=".SetCarParkConfiguration"
            android:label="Edit Car Park 3 Configuration">
        </activity>
        <activity android:name=".EditCarPark4Configuration"
            android:parentActivityName=".SetCarParkConfiguration"
            android:label="Edit Car Park 4 Configuration">
        </activity>

    </application>

</manifest>